<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://cxf.apache.org/jaxrs
 	http://cxf.apache.org/schemas/jaxrs.xsd
 	http://cxf.apache.org/jaxws
 	http://cxf.apache.org/schemas/jaxws.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<context:component-scan base-package="corp.ospreys.edu.*" />

	<jaxrs:server id="unfscService" address="/">
		<jaxrs:providers>
		 	 <ref bean="cors-filter" /> 
		     <ref bean="jsonProvider"/>
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="provideUserProfileDetailsWebService" />
			<ref bean="validateUserAuthenticationWebService" />
			<ref bean="registerUnfscUserWebService" />
			<ref bean="createUnfscUserProfileWebService" />
			<ref bean="createUnfscEventWebService" />
			<ref bean="provideEventDetailsWebService" />
			<ref bean="unfscSearchWebService" />
			<ref bean="approveCreateEventWebService"/>
			
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
			<entry key="json" value="application/json" />
		</jaxrs:extensionMappings>
	</jaxrs:server>
	
	<bean id="jacksonObjectMapper" class="org.codehaus.jackson.map.ObjectMapper">
    	<property name="serializationInclusion" value="NON_NULL"/>
	</bean>

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider">
    	<property name="mapper" ref="jacksonObjectMapper"/>
	</bean>
	
	<bean id="cors-filter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>
</beans>